<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em"><br>Welcome to leKwat home page. Come here to
        check in with your favorite subreddits.
      You can also create a post.</div><br>
    <div style="text-align: center">
        <button class="btnCreatePost" [disabled]="!authService.isLoggedIn" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" [disabled]="!authService.isLoggedIn" (click)="goToCreateSubreddit()">Create Subreddit</button>
        <br></div>
</div>
